<div style="width:100%;position:absolute;overflow-x:auto;">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
        <tr>
            <th style="text-align: center;">时间戳</th>
            <th style="text-align: center;">请求类型</th>
            <th style="text-align: center;">请求路径</th>
            <th style="text-align: center;">请求用时</th>
            <th style="text-align: center;">服务器地址</th>
        </tr>
        </thead>
        <tbody id="table_data">
        </tbody>
    </table>
</div>
<!--日期格式化工具类-->
<script th:src="@{/utilJs/dateUtils.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/healthMonitoring/trace.js}" type="text/javascript" charset="utf-8"></script>